footer{
    text-align: center; color: navy;
    padding: 0px;
    background-color: lightgray;
    
    
}

body{
    background-color:;


}


.container-fluid{
    background-color: lightgray;
    margin: 20px


    
    
}

h2{
    text-align: center;
    color: navy;
    padding: 20px;
    font-size: 30px;
    font-family: 'Arial', sans-serif;
}
